:root {
    --Almost-white: hsl(0, 0%, 98%);
    --Medium-Gray: hsl(0, 0%, 41%);
    --Almost-Black: hsl(0, 0%, 8%);
}

@media(min-width: 50em){
    :root{
        font-size: 1.125em;
    }
}

*, ::before, ::after{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Epilogue', sans-serif;
}

body {
    height: 100%;
    width: 100%;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* UTILITY CLASS */
.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}


.hide {
    display: none;
}



/* NAV SECTION */
header {
    padding: 1.5em 1.5em;
    background-color: white;
    position: fixed;
    width: 100%;
}

header > nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-bar.active {
    width: 60vw;
    height: 100vh;
    position: absolute;
    z-index: 10;
    background-color: var(--Almost-white);
    top: 0;
    right: 0;
    box-shadow: 
    0px 4px 8px 0 rgba(0, 0, 0, 0.2), 
    0 6px 20px 300px rgba(0, 0, 0, 0.5);
    padding: 2em;
    color: var(--Medium-Gray);
    font-weight: 500;
    background: white;


    display: flex;
    flex-direction: column;
    /* display: none; */
}

.nav-bar a {
    color: var(--Medium-Gray);
}

.top-nav > img {
    position: absolute;
    right: 2em;
}

.feature-nav {
    margin-top: 3.5em;
    cursor: pointer;
}

.feature-nav * {
    margin-top: 1em;
}

.feature-child {
    padding-left: 1.5em;
}


.company-nav {
    margin: 2em 0;
    margin-top: 2.5em;
    cursor: pointer;
}

.company-nav > ul * {
    margin-top: 1.5em;
}

.company-child {
    padding-left: 1.5em;
}

.top-nav p:nth-child(4) {
    cursor: pointer;
}

.top-nav p:last-child {
    margin-top: 2em;
    cursor: pointer;
}


.login {
    margin-top: 3em;
    display: flex;
    flex-direction: column;
}

.login > button {
    font-size: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
    border-radius: 1em;
    background-color: var(--Almost-white);
    border: 2px solid var(--Medium-Gray);
    cursor: pointer;
}

.login > button:first-child {
    border: none;
}

/* HERO SECTION */

section {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section > img {
    /* background-size: contain; */
    width: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3em;
}

section > .container > h1 {
    font-size: 2.7em;
    text-align: center;
    margin-bottom: 0;
}

section > .container > p {
    text-align: center;
    padding: 0 1em;
    color: var(--Medium-Gray);
    font-size: 1.2em;
    margin-top: 1em;
}

section > .container > button {
    color: var(--Almost-white);
    font-size: 1em;
    font-weight: 700;
    background-color: var(--Almost-Black);
    width: 30%;
    height: 3em;
    border: none;
    border-radius: 1em;
    margin-top: 2em;
}

section > .container > .brands {
    margin: 3em 1em;
    display: flex;
    align-items: center;
    gap: 1.5em;
}

/* RESPONSIVE DESIGN */

@media (min-width: 768px) {
    .mob-img {
        display: none;
    }
    .desk-img {
        display: block;
        object-fit: contain;
    }

    section {
        flex-direction: row-reverse;
        justify-content: space-evenly;
        margin-top: 3em;
    }

    section > img {
        width: 30vw;
        height: 75vh;
        margin-top: 2em;
        
    }

    section > .container {
        width: 40vw;
        padding-top: 2em;
        gap: 4em;
        align-items: flex-start;
    }

    section > .container > h1 {
        text-align: left;
        font-size: 4.5em;
        max-width: 80%;
    }

    section > .container > p {
        text-align: left;
        padding-left: 0;
        max-width: 60%;
    }

    section > .container > .brands {
        width: 90%;
        justify-content: space-between;

    }

    /* continue here */

    /* RESPONSIVE NAV */
    header {
        height: 4em;
    }
    nav img:last-child {
        display: none;
    }

    nav img:first-child {
        position: fixed;
        top: 1.7em;
    }

    .nav-bar {
        display: flex;
        flex-direction: row;
        position: fixed;
        left: 10em;
        top: 2em;
        align-items: center;
    }

    .top-nav {
        display: flex;
        flex-direction: row;
        gap: 2em;
    }

    .top-nav > img:first-child {
        display: none;
    }

    .top-nav * {
        margin-top: 0;
    }

    .top-nav p:last-child {
        margin-top: 0;
    }

    .login {
        margin-top: 0;
        flex-direction: row;
        position: fixed;
        right: 2.5em;
        top: 1em;
        gap: 1.5em;
    }

    .login > button {
        font-size: 1em;
        padding: 1em 2em;
    }

    .feature-child {
        background-color: var(--Almost-white);
        padding: 1em 1.5em;
        margin-top: 1em;
        border-radius: 1em;
        box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.4);
    }

    .feature-child li:first-child {
        margin-top: 0;
    }

    .feature-child * {
        margin-top: 1em;
    }

    .company-child {
        background-color: var(--Almost-white);
        padding: 1em 1.5em;
        margin-top: 1em;
        border-radius: 1em;
        box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.4);
    }

    .company-child li:first-child {
        margin-top: 0;
    }
    
}


